
.articulos-container {
    height: 85%;
    width: 100%;
}
.articulos {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 99%;
    height: 100%;
}

.articulos.show{
    display: flex;
}

.articulos-btn-container{
    width: 80%;
    height: 5%;
    /*max-width: 700px;*/
    display: flex;
}

.articulos-btn-container button {
    background-color: transparent;
    border: 1px solid #585958;
/*rgba(88, 89, 88, 0.3)*/
    color: rgb(88, 89, 88);
    border-radius: 4px;
    padding: 4px;
    font-family:  "Proxima Nova", -apple-system, "Helvetica Neue", helvetica, roboto, arial, sans-serif;
}

.articulos-btn-container button:hover {
    filter: brightness(140%);
}

.titulo-productos{
    font-size: 26px;
    margin: auto auto auto 15px;
}

.filtros-container {
    display: flex;
    background-color: rgb(248, 249, 250);
    padding: 0 15px;
    border-radius: 20px;
    height:10%
}

.spinner-container, .no-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}