/* General Styles */
.articulo {
  flex: 0 1 200px;
  border: 2px solid black;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  margin: 5px;
  padding: 0;
}

.articulo-img {
  overflow: hidden;
}

/* Card Styles */
.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f8f9fa;
  margin: 10px;
  max-width: 300px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.7s linear;
}

.card:hover {
  box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
}

.card-image-wrapper {
  overflow: hidden;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 15px;
}

.card-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #6c757d;
  margin-bottom: 20px;
}

/* Image Styles */
.overflow {
  overflow: hidden;
  height: 40%;
  max-height: 40%;
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.8);
}

/* Button Styles */
.card-btn {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #343a40;
  border: 1px solid #343a40;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.card-btn:hover {
  background-color: #23272b;
  border-color: #1d2124;
}

/* Animation Styles */
.articulo-pulsado {
  animation: shake 2s ease-in-out;
}

@keyframes shake {
  10% {
    transform: scale(1.05) rotate(5deg);
  }
  20% {
    transform: scale(1.05) rotate(-5deg);
  }
  30% {
    transform: scale(1.05) rotate(5deg);
  }
  40% {
    transform: none;
  }
}
