.carrito-fondo {
  background-color: #00000047;
  z-index: 1000;
  height: 0;
  width: 0;
  position: fixed;
  opacity: 0;
  transition: opacity ease-out 850ms;
}

.carrito-fondo-active {
  height: 100%;
  width: 100%;
  opacity: 1;
}

.carrito {
  position: fixed;
  height: 100%;
  min-height: 100vh;

  background-color: #fff;
  width: 350px;
  display: flex;
  flex-direction: column;
  right: -1000%;
  transition: 850ms;
  overflow: auto;
  z-index: 1001;
}

.carrito-show {
  right: 0;
  transition: 450ms;
}

.carrito::-webkit-scrollbar {
  width: 7px;
}

.carrito::-webkit-scrollbar-thumb {
  /*#212529*/
  background-color: #7b7b7b;
  border-radius: 5px;
}

.carrito-info-titulo {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 20px;
  background-color: #f4f4f4;
}
.carrito-info-titulo p {
  margin: auto;
}

.carrito-info-titulo h1 {
  width: 80%;
  margin: auto;
  line-height: 20px;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #000;
}

.contenedor-producto {
  display: flex;
  position: relative;
  margin: 10px;
  border-bottom: 1px solid #d4d4d4;
}

.producto-img {
  margin: auto 0;
  width: 30%;
}

.producto-img img{
    width: 93px;
    height: 93px;
}


.producto-info {
  width: 100%;
  padding-left: 5%;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.producto-info h1{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.producto-info p {
  word-break: break-word;
}

.carrito-precio{
    display: flex;
}

.precio{
    color:#D30034;
    font-size: 13px;
}

.cantidad{
    font-size: 12px;
    color:#7d7d7d;
    margin-left: 10px;
}

.carrito-total {
  background-color: #f4f4f4;
}
.carrito-total-precio {
  display: flex;
  justify-content: space-between;
}

.boton-borrar-producto {
  width: 20%;
  display: flex;
}

.boton-borrar-producto svg {
    margin: 0 0 auto auto;
}

.carrito-total {
  display: flex;
  flex-direction: column;
  margin: 2% 0;
  padding: 5px;
}

.carrito-total-precio p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.carrito-total-precio p:nth-child(2) {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.tn btn-dark {
  margin: 10px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 20px;
}

.carrito-vacio {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

@media (max-width: 346px){
    .carrito {
        width: 100%;
    }

}
