.carrito-fondo{
    background-color: #00000047;
    z-index: 29;
    height: 0;
    width: 0;
    position:fixed;
    opacity: 0;
        
        transition: opacity ease-out 850ms;
}

.carrito-fondo-active{
    height: 100%;
    width: 100%;
    opacity: 1;    
}

.carrito{
    position:fixed;
    height: 100vh;
    max-height: 100vh;
    background-color: #fff;
    width: 350px;
    display: flex;
    flex-direction: column;
    right: -100%;
    transition: 850ms;
    overflow: auto;
    z-index: 30;
  }
  
  .carrito-show {
    right: 0;
    transition: 450ms;
  }

.carrito::-webkit-scrollbar{
    width: 7px;
}

.carrito::-webkit-scrollbar-thumb{
    
    /*#212529*/
    background-color: #7b7b7b;
    border-radius: 5px;
}

.carrito-info-titulo{
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 25px 0;
    margin-bottom: 20px;
    background-color: #f4f4f4;
}
.carrito-info-titulo p{
    margin:auto;
}

.carrito-info-titulo h1{
    width: 80%;
    margin: auto;
    line-height: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #000;
}

.contenedor-producto{
    display: flex;
    position: relative;
    margin:10px;
    border-bottom: 1px solid #f4f4f4;
}

.producto-img{
    margin: auto 0;
    width: 40%;
    height: 50%;
}

.producto-info{
    width: 100%;
    padding-left: 5%;
}

.carrito-total{
    background-color: #f4f4f4;
}
.carrito-total-precio{
    display: flex;
    justify-content: space-between;
}

.boton-borrar-producto{
    width: 20%;
}

.carrito-total{
    display: flex;
    flex-direction: column;
    margin: 2% 0;
    padding:5px
}

.carrito-total-precio p{
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.carrito-total-precio p:nth-child(2){
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}


.tn btn-dark{
    margin: 10px auto;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 20px;
}

.carrito-vacio{
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    margin:0 auto;
}