.cabecera {
  display: flex;
  flex-flow: row nowrap;
  height: 140px;
  align-items: center;
}

.logo {
  padding: 0;
  display: flex;
  margin: 0 auto;
}

.logo img {
  margin: 20px;
  margin-right: 0;
  width: 91%;
  height: 9rem;
  display: flex;
}

.custom-navbar {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  gap: 600px;
}

.custom-nav-link {
  margin: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;
  font-weight: 400;
  color: red;
}

.custom-nav-link:hover {
  color: #850000;
}

.custom-nav-link-item {
  text-transform: lowercase;
  text-transform: capitalize;
  letter-spacing: normal;
}

.nav-link-inicio-sesion {
  position: absolute !important;
  right: 0 !important;
}

.navbar-header-cliente {}

@media all and (max-width:430px) {
  .nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}