.nosotros {
display: flex;
flex-direction: column;

  
}

.nosotros h1 {
  font-size: 80px;
margin: auto;
margin-top: 50px;
}

.nosotros p {
  text-align: center;
  width: 70%;
  max-width: 350px;
  margin: auto;
  font-size: 20px;
}

.nosotros a{
  margin: 20px auto;
}
.nosotros button{
    background-color: #6ba488;
    padding: 10px 40px;
    color: white;
    border: transparent;
}
.nosotros button:hover {
    background-color: #4a7f4c;
  }


