.inicio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../../img/imageFondo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}