* {
  box-sizing: border-box;
}

.header-inicio {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  padding: 5px 2%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  margin-bottom: 500px;
}

.logo-inicio {
  width: 20%;
  display: flex;
  align-items: center;
}

.logo-inicio a {
  height: auto;
  width: 100%;
  transition: all 0.3s;
  text-decoration: none;
  color: var(--color-letter-title);
}

.logo-inicio a:hover {
  transform: scale(1.1);
}

.logo-inicio a h1{
  font-size: 22px;
  margin: 0;
}
.logo-inicio a p{
  font-size: 10px;
  margin: 0;
}

.navbar-inicio ul {
  list-style: none;
  margin: 0;
  display: flex;
  padding-left: 0;
}

.navbar-inicio ul li {
  font-weight: 700;
  margin-right: 20px;
  transition: all 0.3s;
}

.navbar-inicio ul li:last-child {
  margin-right: 0;
}

.navbar-inicio ul li:hover {
  transform: scale(1.1);
}

.navbar-inicio ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: var(--color-white);
  transition: width 0.1s;
  width: 0;
}

.navbar-inicio ul li:hover::after,
.navbar-inicio ul li.active::after {
  width: 70%;
}

.navbar-inicio a {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--color-white);
}

.button-nav-inicio {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-nav-inicio button {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button-nav-inicio button p {
  margin: 0;
  font-size: 1.5em;
}

.button-nav-inicio button p {
  color: var(--color-white);
}

.button-nav-inicio button svg{
  fill: var(--color-white);
}


@media only screen and (max-width: 768px) {
  .logo-inicio,
  .button-nav-inicio {
    width: 30%;
  }

  .navbar-inicio a {
    font-size: 1em;
  }

  .button-nav-inicio button p {
    font-size: 1.5em;
  }

  .button-nav-inicio .icon-carrito {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 448px){
  .logo-inicio a img {
    width: 90%;

  }
  
} 

@media only screen and (max-width: 440px){
  .header-inicio{
    justify-content: center;
  }
  .logo-inicio{
    display: none;
  }


} 