*{
  box-sizing: border-box;
}

.header-inicio{
  background-color:#B3E5FC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 2%;
}

.logo-inicio{
  width: 14%;
}

.logo-inicio a img{
  height: 70px;
  width: auto;
  transition: all 0.3s;
}

.logo-inicio a img:hover{
  transform: scale(1.1);
}

.navbar-inicio ul{
  list-style: none;
  margin: 0;
}

.navbar-inicio ul li{
  font-weight: 700;
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s;
}

.navbar-inicio ul li:hover{
  transform: scale(1.1);

}

.navbar-inicio ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: black; 
  transition: width 0.1s;
}

.navbar-inicio ul li:hover::after,
.navbar-inicio ul li.active::after {
  width: 70%;
}

.navbar-inicio a{
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.button-nav-inicio{
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-nav-inicio button{
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button-nav-inicio button p{
  margin: 0;
  font-size: 30px;
}

.button-nav-inicio .icon-carrito{
  font-size: 30px;
}

.button-nav-inicio button a link{
  transform: scale(20);

}
