* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #333;
  --color-white: #FFFFFF;
  --color-letter-title: #ccc;
  --color-button: #007BFF;
  --color-button-hover: #0056b3;
}
.spinner-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #060b26;
}