.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: auto;
  color: white;
  padding-left: 130px;
}

.hero-text {
  width: 100%;
  padding: 100px;
  z-index: 10;
}
.hero-text h1 {
  font-size: 80px;
}

.hero-text p {
  font-size: 20px;
}

.hero-text button {
  background-color: var(--color-button);
  padding: 10px 40px;
  color: white;
  border: transparent;
  border-radius: 7px;
}

.hero-text button:hover {
  background-color: var(--color-button-hover);
}

.hero-section img {
  width: 40%;
  height: auto;
}

@media screen and (max-width: 1090px) {
  .hero-text {
    width: 100%;
    color: white;
    font-weight: 400;
    padding: 0;
  }

  .hero-section img {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .hero-section {
    padding-left: 30px;
  }
  .hero-text h1 {
    font-size: 60px;
  }

  .hero-text p {
    font-size: 17px;
  }
}

@media screen and (max-width: 450px) {
  .hero-text h1 {
    font-size: 50px;
  }

  .hero-text p {
    font-size: 13px;
  }
  .hero-text button {
    background-color: #6ba488;
    padding: 5px 20px;
    color: white;
    border: transparent;
  }
}
