.section {
  /*min-height: 100dvh;*/
  display: flex;
  /*margin-top: 52px;*/
}

.section.show-articulos{
  /*height: 100dvh;*/
  height: auto !important;
  padding-top: 10px;
}

.section div {
  /*margin: auto;*/
}

.filtro {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;

}

.navegacion {
  width: 100%;
  text-align: center;
}

.navegacion a {
  text-decoration: none;
  margin: 5px;
}

@media (max-width: 776px) {
  .section {
    height: 100vh;
    max-width: 100%;
  }

  .row [class*="col-"] {
    width: 47% !important;
    float: none !important;
  }
}

@media (max-width: 313px) {
  .row [class*="col-"] {
    width: 100% !important;
    float: none !important;
  }
}

.no-content-categories {
  margin:auto;
  text-align: center;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto;
}