.fondo {
  background-color: #060b26;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-img-login {
  background-color: white;
  width: 600px;
  max-width: 650px;

  display: flex;
  flex-flow: row wrap;
  border-radius: 10px;
}

.imagen {
  background-color: red;
  flex: 1 1;
  border-radius: 10px;
}

.imagen img {
  width: 100%;
  height: 500px;
  border-radius: 10px 0px 0px 10px;
}

.container-login {
  background-color: white;
  flex: 2 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
}

.login-logo {
  width: 90%;
  height: 9rem;
  margin-bottom: 20px;
}

.form-login {}

.form-control {
  width: 90%;
}

@media all and (max-width:400px) {
  .imagen {
    display: none;
  }
}