/*@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
}

.navbar-container{
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  !*transition: 850ms;*!
}

!* Navbar CSS *!
.navbar {
  background-color: #060b26;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 7%;
  padding: 0;
}

.menu-bars {
  !*margin-left: 2rem;*!
  !*font-size: 2rem;*!
  margin: auto auto auto 10px;
  height: 100%;
  font-size: 25px;
  background: none;
  text-decoration: none;
  color: #fff;
}

.menu-bars:hover {
  color: #fff;
  filter: brightness(70%);
}

.nav-menu {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -1000px;
  transition: 850ms;
  z-index: 1000;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #fff;
  !*#151414;*!
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
  !*color: #fff;*!
  filter: brightness(70%);
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1000px){
  .navbar-container{
    height: 64px;
    width: 100%;
  }
}
*/
.navbar-container{
  background-color: #0d112f;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding:15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.navbar-brand {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand-item{
  display: flex;
}

.navbar-brand-item p{
  font-size: 27px;
  font-family: 'Roboto', serif;
}

.navbar-brand-item-actions, .navbar-brand-item-actions p {
  display: none;
}

.navbar-brand-item-actions p.show{
  display: flex;
}

.nav-menu-items {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  list-style: none;
  margin:0;
  padding: 0;
}

.nav-menu-items.show{
  display: flex;
}

.nav-text{
  display: flex;
  justify-content: space-between;
  height: 48px;
  cursor:pointer;
}

.nav-text svg{
  width: 20%;
  font-size: 16px;
  margin: auto;
}

.nav-text span {
  width: 100%;
  font-size: 16px;
  margin: auto;
}

@media screen and (max-width: 1000px){
  .navbar-container{
    /*min-height: 64px;*/
    width: 100%;
    height: auto;
  }

  .navbar-brand-item-actions {
    display: flex;
  }
  .nav-menu-items{
    display: none;
  }
  .nav-text svg{
    width: 5%;
  }
}