/*
.pantalla-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.dashboard{
    width: 20%;
    height: 100%;
    
    background-color: #7386d5;
    color: #fff;
    display: flex;
}

.dashboard-container{
    width: 90%;
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    text-align: center;
    align-items: center;
    align-content: center;
}

.dashboard-botones{
    margin:5% 0;
    width: 100%;
    height: 100%;
    align-items: start;
    align-content: start;
    display: flex;
    flex-direction: column;
}

.dashboard-botones button{
    width: 100%;
    text-align: start;
    margin: 2% 0;
    border-radius: 0%;
}

.dashboard-botones button:hover{
    background-color: #fff;
    color: #000;
}

.dashboard-botones button:focus{
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 768px) and (min-width: 376px) {

    .pantalla-container{
        flex-direction: column;
    }

    .dashboard{
        width: 100%;
        height: 10%;  
    }
    
    .dashboard-container{
        width: 100%;
        height: 100%;
        flex-direction: row;        
        margin: auto 5%;
    }

    .dashboard-botones{
        flex-direction: row;
    }
    .dashboard-botones button{
        width: auto;
    }
}
*/

.pantalla-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.productos-contenedor, .tipoProductos-contenedor{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
