.contenedor-pantalla-productos{
    background-color: rgb(204, 204, 204);
    width: 100%;
    display:flex;
    flex-direction: column;
    margin:0;
    padding: 0;
    position:absolute;
    /*z-index: -1;*/
}