.contenedor-tabla{
    margin: 2% auto;
    background-color: white;
    width: 100%;
    height: 80%;
    display: none;
    overflow: hidden;
    flex-direction: column;
}

.contenedor-tabla.show {
    display: flex;
}

.contenedor-titulo-tabla{
    display: flex;
    align-items: center;
    /*font-size: 1.7rem;*/
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    height: 20%;
    width: 100%;
    margin:0;
}

.boton-agregar{
    width: auto;
    height:auto;
    margin: 0 auto 0 0;
    background-color: transparent;
    color: black;
    border: 1px solid #060b26;
}

.boton-agregar:hover {
    color:white;
    background-color: #060b26;
}

.contenedor-table{
    width: 100%;
    height: 100%;
    margin:1% auto 0 0;
    overflow-y: auto;
    overflow-x: auto;
    border-radius: 10px;
}

.table tr:nth-child(even) {
    background-color: rgb(246 246 246);
}

.table tr:nth-child(odd) {
    background-color: #fff;
}

.table th{
    background: #060b26;
    color: white;
    font-size: 15px;
    width: 5%;
    /*border-bottom: 2px solid #787878;*/
}

.table th:first-of-type, .table th:last-of-type {
    width: 1%;
}

.titulo-tabla{
    margin-left: 1rem;
}

.table-data{
    word-break: break-word;
    font-size: 15px;
    width: 5%;
}

.table-data:first-of-type, .table-data:last-of-type {
    width: 1%;
}

.table-data-buttons-container{
    display: flex;
    width: 100%;
    /*height: 64px;*/
}

.table-data-button{
    background-color: transparent;
    border: none;
    width: 40px;
    margin:auto 0;
    height: auto;
}

@media screen and (max-width: 1000px){
    .modal-input-containers-elements{
        flex-direction: column;
    }
    .modal-input-containers-elements div{
        width:100% !important;
    }
}



@media screen and (max-width: 768px) {
    .titulo-tabla h1{
        font-size: 18px;
    }
    .titulo-tabla p, .boton-agregar{
        font-size: 14px;
    }
}