.filtro {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.filtro-input {
  border: 0px solid;
  height: 30px;
  width: 150px;
  border-bottom: 1px solid black;
}

.filtro-input:focus {
  outline: none;
  box-shadow: 0px 1px 12px 6px rgba(145, 114, 208, 0.3);
}

.filtro-lupa {
  border: 0px solid white;
  width: 20px;
  height: 29px;
  position: relative;
  left: -20px;
  background: #fff
}

.filtro-lupa:focus {
  border: 1px solid #000;
}

.articulos {

  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px;
}

.articulo {
  flex: 0 1 200px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  padding: 0;
}

.articulo-img {
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.articulo-nombre-producto {
  padding: 0;
}

.articulo-nombre-categoria {
  padding: 0;
  color: #5f5f5f;
  font-size: 10px;
}

.articulo-precio {
  font-size: 23px;
  font-weight: 600;
  padding: 0;
  margin: 5px 5px;
}

.navegacion {
  width: 100%;
  text-align: center;
}

.navegacion a {
  text-decoration: none;
  margin: 5px;
}