.categorias-container{
    width: 80%;
    /*min-height: 80dvh;*/
    display: none;
    /*border: 1px solid blue;*/
    flex-direction: column;
    margin: auto;
    height: 80%;
    border:1px solid red;
}

.categorias-container.show{
    display: flex;
}

.categorias-container h1{
    width: auto;
    margin: auto auto auto 0;
    font-family: "Proxima Nova", -apple-system, "Helvetica Neue", helvetica, roboto, arial, sans-serif;
    font-size: 20px;
    padding: 25px 0;
}
.card-categoria-container {
    width: 100%;
    height: 95%;
    margin: auto;
    /*border: 1px solid black;*/
    display: flex;
    flex-wrap: wrap;
}

.card-categoria-container-item {
    height: 100px;
    width: 210px;
    margin: auto;
    display: flex;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    box-shadow: rgba(211, 211, 211, 0.35) 0 5px 15px;
}

.card-categoria-container-item:hover {
    filter: brightness(70%);
}

.card-categoria-container-item p{
    font-family: "Proxima Nova", -apple-system, Roboto, Arial, sans-serif;
    font-size: 16px;
    margin: auto;

}

@media screen and (max-width: 1000px) {
    .card-categoria-container-item{
        margin: 3% auto;
    }
}

.contenedor {
    height: 500px;
}
.swiper {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination{
    position: relative !important;
}

.swiper-wrapper{
    margin-bottom: 5px;
}