.inicio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative; /* Añade posición relativa para posicionar el pseudo-elemento */
  background-image: url("../../../img/fondo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.inicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color oscuro con transparencia */
}